@charset "UTF-8";
/* 
0.Reset css 
*/

  /*
  html5doctor.com Reset Stylesheet
  v1.6.1
  Last Updated: 2010-09-17
  Author: Richard Clark - http://richclarkdesign.com
  Twitter: @rich_clark
  */
  
  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  abbr, address, cite, code,
  del, dfn, em, img, ins, kbd, q, samp,
  small, strong, sub, sup, var,
  b, i,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, summary,
  time, mark, audio, video {
      margin:0;
      padding:0;
      border:0;
      outline:0;
      font-size:100%;
      vertical-align:baseline;
      background:transparent;
  }
  
  body {
      line-height:1;
  }
  
  article,aside,details,figcaption,figure,
  footer,header,hgroup,menu,nav,section {
      display:block;
  }
  
  nav ul {
      list-style:none;
  }
  
  blockquote, q {
      quotes:none;
  }
  
  blockquote:before, blockquote:after,
  q:before, q:after {
      content:'';
      content:none;
  }
  
  a {
      margin:0;
      padding:0;
      font-size:100%;
      vertical-align:baseline;
      background:transparent;
  }
  
  /* change colours to suit your needs */
  ins {
      background-color:#ff9;
      color:#000;
      text-decoration:none;
  }
  
  /* change colours to suit your needs */
  mark {
      background-color:#ff9;
      color:#000;
      font-style:italic;
      font-weight:bold;
  }
  
  del {
      text-decoration: line-through;
  }
  
  abbr[title], dfn[title] {
      border-bottom:1px dotted;
      cursor:help;
  }
  
  table {
      border-collapse:collapse;
      border-spacing:0;
  }
  
  /* change border colour to suit your needs */
  hr {
      display:block;
      height:1px;
      border:0;  
      border-top:1px solid #cccccc;
      margin:1em 0;
      padding:0;
  }
  
  input, select {
      vertical-align:middle;
  }

/* 
0.Base css 
*/
body{
  font-family: 'Noto Sans JP', sans-serif;
}

p{
  font-size: 16px;
}

h1{
  font-size: 32px;
  letter-spacing: .02em;
  font-weight: 600;
}

h2{
  font-size: 28px;
  letter-spacing: .02em;
  font-weight: 600;
}

h3{
  font-size: 24px;
  letter-spacing: .02em;
  font-weight: 500;
}

.container{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container__2{
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.head-title{
  text-align: center;
  padding: 80px 0 70px;
}

.title__faq{
  text-align: center;
  padding: 80px 0 35px;
}

.head-title__sub{
  color: #3BA6C9;
  margin-top: 15px;
}

@media screen and (max-width: 768px) and (max-width: 1024px){
  h1{
    font-size: 27px;
    letter-spacing: .01em;
    font-weight: 600;
  }  
}

@media screen and (max-width: 767px) {
  .container{
    padding: 0 30px;
  }

  .features-contents img .ml-4,
  .features-contents img .ml-5{
    margin: 0;
  }

  p{
    font-size: 14px;
  }  

  h1{
    font-size: 20px;
    letter-spacing: .01em;
    font-weight: 600;
  }  

  h2{
    font-size: 24px;
    letter-spacing: .01em;
    font-weight: 600;
  }  

  h3{
    font-size: 20px;
    letter-spacing: .02em;
    font-weight: 500;
  }  

  .head-title{
    text-align: center;
    padding: 50px 0 35px;
  }
  

}

/* 
1.Header 
*/
header nav{
  box-shadow: 0 0 4px gray;
  background-color: #fff;
}

nav .container{
  padding: 14px 0;
}

.navbar-brand{
  display: block;
  margin-left: 20px;
  letter-spacing: .2rem;
}

.navbar-brand, .nav-link{
  color: #000;
}

.btn__contact{
  background: -moz-linear-gradient(left, #FA41CC, #6020b0);
  background: -webkit-linear-gradient(left, #FA41CC, #6020b0);
  background: linear-gradient(to right, #FA41CC, #6020b0);
  color: #fff;
  width: 145px;
  height: 34px;
  font-size: .8rem;
  letter-spacing: 0.02em;
  border-radius: 10px;
}

#Navbar ul{
  padding-right: 80px;
}

.navbar .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

.navbar .navbar-toggler-icon{
  color: #cccccc;
}

.nav-link {
  display: block;
  padding: .5rem 1.6rem;
}

@media screen and (max-width: 991px) {
  nav .container{
    padding: 0px 0;
  }

  .header__icon{
    width: 34px;
    height: 34px;
  }

  .header__title{
    font-size: 18px;
  }
  
  .navbar .btn{
    display: none;
  }

  #Navbar ul {
    padding-right: 0px;
}

  .nav__li li{
    padding: 0;
    margin: 0 auto;
  }
}

/* 
2.Top 
*/
#top{
  position: relative;
  overflow: hidden;
}
.top-bg{
  position: absolute;
  right: -85px;
  top: -125px;
  z-index: -1;
}
.top-contents{
  padding: 120px 0 120px;
}
.top-content__title{
  margin-top: 40px;
}
.top-content__title_2{
  margin: .4em 0;
}
.top-content__desc{
  margin: 38px 0 39px;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 747px) {
  .top-bg{
    position: absolute;
    right: -280px;
    top: 5px;
    z-index: -1;
  }

  .top-contents{
    padding: 0px 0 30px;
  }  

  .top__img{
    margin: 0 auto;
    width: 95%;
  }

  .top__img img{
    width: 100%;
    height: 320px;
  }
}

/*
3.Features 
*/
.features-contents{
  padding-bottom: 160px;
}

.features-contents__title{
  margin-bottom: 55px;
  text-align: center;
}

.features-content__main{
  margin-top: 50px;
}

.features-content__sub{
  margin-top: 54px;
}

.features-contents_1 h3{
  font-size: 22px;
  letter-spacing: .05rem;
}

.features-contents_2{
  margin-top: 90px;
}

.features-contents_3{
  margin-top: 100px;
}

.features-contents_3 .features-content__main{
  margin-left: 100px;
}

.features-contents_3 .features-content__sub{
  margin-left: 100px;
}

@media screen and (max-width: 747px) {
  .features__img{
    margin: 0 auto;
    width: 90%;
  }

  .features__img img{
    width: 100%;
    height: 280px;
  }

  .features-content__main{
    margin-top: 30px;
  }  

  .features-contents_2 .features__img{
    margin-top: 60px;
  }

  .features-desc__wrap{
    text-align: center;
  }

  .features-contents_3 .features-content__main{
    margin-left: 0px;
  }
  
  .features-contents_3 .features-content__sub{
    margin-left: 0px;
  }

  .features-contents_1 h3{
    font-size: 20px;
    letter-spacing: .05rem;
  }

  .features-contents {
    padding-bottom: 80px;
}
  
  }

/*
  4.Price 
*/
#price{
  background-color: #EEFBFB;
}

.table__price{
  font-weight: 700;
  font-size: 16px;
  border: 0px;
}

.table__price tr{
  background-color: #fff;
  box-shadow: 0 0 1px gray;
}

.table__price td{
  line-height: 80px;
}

.table__price tr td:nth-child(1){
  width: 280px;
  text-align: center;
}

.price-warning{
  padding: 40px 0 70px;
  text-align: center;
}

@media screen and (max-width: 747px) {
  .table__price tr {
    display: block;
    margin-bottom: 20px;
  }

  .table__price td {
    display: block;
    text-align: center;
  }

  .table__price tr td:nth-child(1){
    width: 100%;
    text-align: center;
  }

  .table__price td{
    line-height: 50px;
  }

  .table__price td:nth-child(2){
    line-height: 35px;
  }
  
  
}

/* 
5.FAQ 
*/
#faq{
  padding-bottom: 80px;
}

/* .table__faq tr:nth-child(even) td{
  text-align: center;
  line-height: 40px;
}

.table__faq tr:nth-child(odd) td{
  line-height: 1.6rem;
  font-size: 15px;
  padding: 20px 30px;
}

.table__faq{
  border: 1px solid #e5e5e5;
}


.collapse-row.collapsed + tr{
  display: none;
}

@media screen and (max-width: 747px) {
  .table__faq{
    border: 0px;
  }

  .table__faq tr:nth-child(even){
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    font-size: 14px;
  }  

  .table__faq tr:nth-child(odd){
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }  

  .table__faq tr:nth-child(odd) td{
    line-height: 1.2rem;
    font-size: 11px;
  }  

  .table__faq tr:nth-child(1){
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }  

  .table__faq tr {
    display: block;
  }

  .table__faq td {
    display: block;
  }

  .table__faq tr:nth-child(odd){
    margin-bottom: 30px;
  }

} */

/*  */
/*  */
/*  */
.b-color-w{
  background-color: #fff;
}

.b-color-g{
  background-color: rgba(0,0,0,.05);;
}

.faq-btn__wrapper{
  text-align: center;
}

.faq-btn{
  color: #000;
}

.faq-btn:hover{
  color: #000;
  text-decoration: none;
}

.p-wrap-faq{
  padding: 1.25rem 2.4rem;
  font-size: 15px;
  line-height: 1.6rem;
}

@media screen and (max-width: 747px) {
  .faq-btn{
    font-size: 12px;
  }  

  .p-wrap-faq{
    line-height: 1.2rem;
    font-size: 11px;
  }  


}

/*  */
/*  */
/*  */



/* 
6.Blog 
*/
#blog{
  background-color: #EEFBFB;
}

.container__blog{
  padding: 0 60px 80px;
}

.blog-box{
  margin: 0px 10px;
  box-shadow: 0 0 4px gray;
}

.blog-box a{
  color: #000;
}

.blog-box a:hover{
  text-decoration: none;
}

.blog-box__img{
  width: 100%;
}

.blog-box__desc{
  padding: 20px;
  height: 130px;
  background-color: #fff;
  position: relative;
}

.blog-box__item{
  font-size: 19px;
  line-height: 1.6rem;
}

.blog-box__date{
  position: absolute;
  right: 20px;
  bottom: 15px;
}

@media screen and (max-width: 747px) {
  .container__blog{
    padding: 0 40px 80px;
  }
  
  .blog-box{
    margin-bottom: 60px;
  }

  .blog-box__img{
    height: 240px;
  }

  .blog-box__item{
    font-size: 16px;
    line-height: 1.4rem;
  }
  
  .blog-box__date{
    font-size: 16px;
  }
  
}

/* 
7.Works 
*/
#works{
  padding-bottom: 90px;
}

/* .works-item__wrap{
  overflow-x:scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 90px;
}
.works-item{
  width: 1760px; 
  overflow: hidden;
} */

.works-item li {
  float: left;
  width: 100%;
  list-style: none;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
}

.works__desc{
  padding: 20px 20px 30px;
  line-height: 1.4rem;
}

.works__desc__title{
  font-size: 15px;
}

.works__desc__item{
  margin-top: 30px;
}

.works__desc__item p{
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .swiper-button-prev,.swiper-button-next,.swiper-pagination{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container__works{
    padding: 0 60px;
  }
}

/* 
8.Contact 
*/
#contact{
  background: -moz-linear-gradient(left, #05A5FA, #63FBD7);
  background: -webkit-linear-gradient(left, #05A5FA, #63FBD7);
  background: linear-gradient(to right, #05A5FA, #63FBD7);
  padding-bottom: 70px;
}

.title__contact{
  color: #fff;
  text-align: center;
  padding: 80px 0 35px;
}

.title__contact .head-title__sub{
  color: #fff;
}

.contact-message{
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
  line-height: 1.8rem;
}

form{
  padding: 20px 50px 0;
  background-color: #fff;
}

.form-title{
  padding: 20px 0 30px;
}

.form-title label{
  font-size: 13px;
  font-weight: 700;
}

.badge_nessesary{
  background-color: #0C449B;
  color: #fff;
  padding: 6px 12px;
  margin-left: 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.inputs{
  width: 60%;
  height: 40px;
}

.m_textarea{
  width: 100%;
  height: 180px;
}

.b-color__b{
  background-color: #EEFBFB;
  border: 1px solid #E5E5E5;
}

.form-btn__wrap{
  text-align: center;
  padding: 40px 0 50px;
}

.form-btn{
  background: -moz-linear-gradient(left, #FA41CC, #6020b0);
  background: -webkit-linear-gradient(left, #FA41CC, #6020b0);
  background: linear-gradient(to right, #FA41CC, #6020b0);
  color: #fff;
  width: 155px;
  height: 34px;
  font-size: .8rem;
  letter-spacing: 0.02em;
  border-radius: 10px;
  border: 0px;
}

@media screen and (max-width: 747px) {
  .inputs{
    width: 100%;
  }  

  .badge_nessesary{
    padding: 6px 10px;
    margin-left: 20px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
  }

  .title__contact{
    color: #fff;
    text-align: center;
    padding: 50px 0 35px;
  }  

  .contact-message{
    margin-bottom: 30px;
  }  

  .form-title{
    padding: 15px 0 20px;
  }  
  
  .form-title label{
    font-size: 12px;
    font-weight: 700;
  }  

  .form-btn__wrap{
    padding: 25px 0 30px;
  }
  
}

/* 
9.Footer 
*/
footer{
  padding: 50px 0 30px;
  text-align: center;
}

